<div class="row">
  <div class="col-md-6">
    <h3>Day 1:Thursday, May 9, 2019</h3>
     <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>08:15</td>  <td>Installation help. Please arrive early if you had problems installing all of the required software.</td> </tr>
      <tr> <td>08:30</td>  <td>Coffee and light breakfast </td> </tr>
      <tr> <td>09:00</td>  <td>Introductions</td> </tr>
      <tr> <td>09:15</td>  <td><a href="101-intro/">The Unix Shell</a></td> </tr>
      <tr> <td>09:20</td>  <td><a href="102-filedir/">Navigating Files & Directions</a></td> </tr>
      <tr> <td>10:00</td>  <td><a href="103-create/">Working with Files & Directions</a></td> </tr>
      <tr> <td>10:50</td>  <td>Coffee</td> </tr>
      <tr> <td>11:05</td>  <td><a href="104-pipefilter/">Pipes and Filters</a></td> </tr>
      <tr> <td>11:50</td>  <td><a href="107-find/">Finding files</a></td> </tr>
      <tr> <td>12:25</td>  <td>Lunch break(lunch will be provided)</td> </tr>
      <tr> <td>13:25</td>  <td><a href="201-basics/">Automated Version control</a></td> </tr>
      <tr> <td>13:35</td>  <td><a href="202-setup/">Setting up Git</a></td> </tr>
      <tr> <td>13:45</td>  <td><a href="203-create/">Creating a Repository</a></td> </tr>
      <tr> <td>13:55</td>  <td><a href="204-changes/">Tracking Changes</a></td> </tr>
      <tr> <td>14:15</td>  <td>Coffee</td> </tr>
      <tr> <td>14:45</td>  <td><a href="205-history/">Exploring History</a></td> </tr>
      <tr> <td>15:10</td>  <td><a href="206-ignore/">Ignoring Things</a></td> </tr>
      <tr> <td>15:15</td>  <td><a href="207-github/">Remotes in Github</a></td> </tr>
      <tr> <td>15:45</td>  <td><a href="208-collab/">Collaborating</a></td> </tr>
      <tr> <td>16:10</td>  <td><a href="209-conflict/">Conflicts</a></td> </tr>
      <tr> <td>16:20</td>  <td><a href="210-open/">Open Science</a></td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2: Friday, May 10, 2019</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td>Coffee and light breakfast</td> </tr>
      <tr> <td>09:00</td>  <td><a href="301-run-quit/">Running and Quitting</a></td> </tr>
      <tr> <td>09:15</td>  <td><a href="302-variables/">Variables and Assignment</a></td> </tr>
      <tr> <td>10:05</td>  <td><a href="303-types-conversion/">Data Types and Type Conversion</a></td> </tr>
      <tr> <td>10:25</td>  <td><a href="304-built-in/">Built-in Functions and Help</a></td> </tr>
      <tr> <td>10:50</td>  <td>Coffee</td> </tr>
      <tr> <td>11:05</td>  <td><a href="306-libraries/">Libraries</a></td> </tr>
      <tr> <td>11:25</td>  <td><a href="307-reading-tabular/">Reading Tabular into DataFrames</a></td> </tr>
      <tr> <td>11:45</td>  <td><a href="308-data-frames/">Pandas DataFrames</a></td> </tr>
      <tr> <td>12:15</td>  <td>Lunch break(lunch will be provided)</td> </tr>
      <tr> <td>13:15</td>  <td><a href="309-plotting/">Plotting</a></td> </tr>
      <tr> <td>13:45</td>  <td><a href="311-lists/">Lists</a></td> </tr>
      <tr> <td>14:00</td>  <td><a href="312-for-loops/">For Loops</a></td> </tr>
      <tr> <td>14:20</td>  <td><a href="313-looping-data-sets/">Looping Data Sets</a></td> </tr>
      <tr> <td>14:35</td>  <td><a href="314-writing-functions/">Writing Functions</a></td> </tr>
      <tr> <td>15:00</td>  <td>Coffee</td> </tr>
      <tr> <td>15:15</td>  <td><a href="315-scope/">Scope</a></td> </tr>
      <tr> <td>15:35</td>  <td><a href="317-conditionals/">Conditionals</a></td> </tr>
      <tr> <td>16:00</td>  <td><a href="318-style/">Programming Style</a></td> </tr>
      <tr> <td>16:30</td>  <td><a href="319-wrap/">Wrap-up</a></td> </tr>
      <tr> <td>16:50</td>  <td><a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
