<div class="row">
  <div class="col-md-6">
    <h3>Day 1:Thursday, May 9, 2019</h3>
     <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>08:15</td>  <td>Installation help. Please arrive early if you had problems installing all of the required software.</td> </tr>
      <tr> <td>08:30</td>  <td>Coffee and light breakfast </td> </tr>
      <tr> <td>09:00</td>  <td>Introductions</td> </tr>
      <tr> <td>09:15</td>  <td><a href="01-intro/">The Unix Shell</a></td> </tr>
      <tr> <td>09:20</td>  <td><a href="shell-novice/02-filedir/">Navigating Files & Directions</a></td> </tr>
      <tr> <td>10:00</td>  <td><a href="shell-novice/03-create/">Working with Files & Directions</a></td> </tr>
      <tr> <td>10:50</td>  <td>Coffee</td> </tr>
      <tr> <td>11:05</td>  <td><a href="shell-novice/04-pipefilter/">Pipes and Filters</a></td> </tr>
      <tr> <td>11:50</td>  <td><a href="shell-novice/07-find/">Finding files</a></td> </tr>
      <tr> <td>12:25</td>  <td>Lunch break(lunch will be provided)</td> </tr>
      <tr> <td>13:25</td>  <td><a href="git-novice/01-basics/">Automated Version control</a></td> </tr>
      <tr> <td>13:35</td>  <td><a href="git-novice/02-setup/">Setting up Git</a></td> </tr>
      <tr> <td>13:45</td>  <td><a href="git-novice/03-create/">Creating a Repository</a></td> </tr>
      <tr> <td>13:55</td>  <td><a href="git-novice/04-changes/">Tracking Changes</a></td> </tr>
      <tr> <td>14:15</td>  <td>Coffee</td> </tr>
      <tr> <td>14:45</td>  <td><a href="git-novice/05-history/">Exploring History</a></td> </tr>
      <tr> <td>15:10</td>  <td><a href="git-novice/06-ignore/">Ignoring Things</a></td> </tr>
      <tr> <td>15:15</td>  <td><a href="git-novice/07-github/">Remotes in Github</a></td> </tr>
      <tr> <td>15:45</td>  <td><a href="git-novice/08-collab/">Collaborating</a></td> </tr>
      <tr> <td>16:10</td>  <td><a href="git-novice/09-conflict/">Conflicts</a></td> </tr>
      <tr> <td>16:20</td>  <td><a href="git-novice/10-open/">Open Science</a></td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2: Friday, May 10, 2019</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td>Coffee and light breakfast</td> </tr>
      <tr> <td>09:00</td>  <td><a href="r-novice/01-rstudio-intro/">Introduction to R and Rstudio</a></td> </tr>
      <tr> <td>10:00</td>  <td><a href="r-novice/02-project-intro/">Project Management with Rstudio</a></td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>10:50</td>  <td><a href="r-novice/03-seeking-help/">Seeking Help</a></td> </tr>
      <tr> <td>11:00</td>  <td><a href="r-novice/04-data-structures-part1/">Data Structures</a></td> </tr>
      <tr> <td>11:40</td>  <td><a href="r-novice/05-data-structures-part2/">Data Frames</a></td> </tr>
      <tr> <td>12:10</td>  <td>Lunch break(lunch will be provided)</td> </tr>
      <tr> <td>12:55</td>  <td><a href="r-novice/06-data-subsetting/">Subsetting Data</a></td> </tr>
      <tr> <td>13:30</td>  <td><a href="r-novice/08-plot-ggplot2/">ploting with ggplot2</a></td> </tr>
      <tr> <td>14:30</td>  <td><a href="r-novice/09-vectorization/">Vectorization</a></td> </tr>
      <tr> <td>14:40</td>  <td>Coffee</td> </tr>
      <tr> <td>14:55</td>  <td><a href="r-novice/13-dplyr/">Dataframe manipulating with dplyr</a></td> </tr>
      <tr> <td>15:55</td>  <td><a href="r-novice/14-tidyr/">Dataframe manipulating with tidyr</a></td> </tr>
      <tr> <td>16:40</td>  <td><a href="r-novice/16-wrap-up/">Writing good software</a></td> </tr>
      <tr> <td>16:50</td>  <td><a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
